body { 
width: 1000px;
margin:auto;
background-color:lightgray;
font-family:Georgia, 'Times New Roman', Times, serif;
padding-bottom: 50px;
}

p {
line-height: 30px;
padding-top: 10px;
}

h1, h3{
text-align: center;
padding-top: 10px;
}

img {
width: 50%;
padding-bottom: 10px;
}

.desktop{ 
width: 90%;
margin: auto;
}

.tablet{
width: 70%;
margin-left: 5%;
}

.mobile{
width: 70%;
margin-left: 5%;
}